h2 {
    padding: 12px!important;
    padding-bottom: 0px!important;
    color: #101140;
    font-weight: bold!important;
    font-size: 18px!important;
}
#contenedor {
    background: #e6eef9;
    display: block;
    height: 100%;
}
.contenedor_paneles {
	margin: 10px;
}
#contenedor_panel_configuracion table{
	width: 100%;
}

