h2{
    padding: 12px!important;
    padding-bottom: 0px!important;
    color: #101140;
    font-weight: bold!important;
    font-size: 18px!important;
}
#contenedor {
    background: #e6eef9;
    display: block;
    height: 100%;
    
}
#contenedor_secciones {
    background: none;
    display: inline-block;
    height: 500px;
    min-width: 1024px;
    position: relative;
}
.contenedor_calendario {
    margin: 22px 8px;
    width: 46%;
    display: inline-block;
}
.contenedor_calendario p{
    display: inline-block;
 
    padding-bottom: 3px;
    width: 145px;
}

.contenedor_calendario input{
    width: 90px;
 
}
.proteccion_calendario{  
    width: 136px;
    display: inline-block;
}
.seccion_edicion{
    width: 47%;
    height: 230px;
    margin-top: 4px;
    display: inline-block;
    float: left;
    margin: 12px;
}

.seccion_edicion p{
    display: inline-block;
}
.seccion_edicion h3{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    display: inline-block;
}
.seccion_edicion textarea{
    height: 100px;
    width: 98%;
}

.seccion_interna{
    background: #f0f7fe;
    border: 1px solid #abc7ed;
    height: 200px;
}

.formulario_inline{
    display: inline-block;
    font-size: 11px;
    position: relative;
    top: -2px;
    margin: 0px;
    padding: 0px;
}

.contenedor_botones {
    float:right;
    position: relative;
    top: -33px;
}
.selector_status_estilo {
	
position: relative;
top: 9px;
left: 9px;
}
.selector_nombrecentro_estilo {

position: relative;
top: 9px;
left: 9px;
}

#tab_contenedor {
	display: inline-block;
	width: 100%;
	height: 171px;
}
.estilo_dialogoactividades {
    background: aliceblue;
	
}
#contenedor_dialogoactividades {
    margin: 3px;
	
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 11px;
}
#contenedor_dialogoactividades textarea{
    height: 70px;
    width: 96%;
}
#contenedor_dialogoactividades textarea{
    height: 70px;
    width: 96%;
}
#contenedor_dialogoactividades h3{
    font-size: 15px;
	
    font-weight: bold;
    margin-bottom: 7px;
}

#contenedor_dialogoactividades .dialogoactividades_secciones{
    width: 215px;
	
    
    display: inline-table;
    height: 50px;
}

#contenedor_dialogoactividades .dialogoactividades_secciones2{
    width: 310px;
  
    margin: 5px 0;
}
#contenedor_dialogoactividades .dialogoactividades_secciones2 p{
    display: inline-block;
  
    top: -8px;
    position: relative;
    margin-right: 5px;
}
#dialogoactividades_involucrados {
    height: 145px;
	margin-top: 8px;
    border: 1px solid #ccc;
    background: #E1F1F7;
}
#dialogoactividades_botones{
	display: inline-block;
	
}