.atras{background-image:url(../imagenes/left.gif); background-position:left; background-repeat:no-repeat; border:1px solid #006393; height:22px; background-color:#F5F5F5}

.borde {
	border: thin solid #006699;
}

.fondoCeldaTitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	background-color:#006699;
	text-align: center; 
}

