#contenedor {
    background: #e6eef9;
    display: inline-block;
    height: 100%;
}
h2 {
	margin: 18px!important;
	margin-bottom:10px!important;
	font-size: 22px!important;
	font-weight: bold!important;
	color: #717274;
}
h2 a {
    color: black;
	
}
h3 {
    font-size: 17px!important;
	
    padding-left: 17px!important;
    font-weight: bold!important;
}
.barra_azul {
	background: #006699;
	color:white;
	width: 45%;
	display:inline-block;
	padding: 7px;
	margin-left: 14px;
	border-radius: 9px;
}
.barra_azul div{
    display: inline-block;
	
    padding: 3px;
    padding-left: 10px;
    width: 285px;
}
.barra_azul div input{
    float: right;

}
.seccion_expediente {
	background: #EFF2FF;
	width: 46%;
	margin: 10px;
	display: inline-block;
	float: left;
	height: 291px;
	margin-left: 15px;
	border: 1px solid #b7cfee;
}
.selector_genero {
	
	width:150px!important;
	margin-left:0px!important;
}
#seccion_datossolicitante{
	height: 390px;
}
#seccion_datossolicitante input{
	width: 44%;
}
#seccion_datossolicitante .selectores{
    position: relative;
    top: 8px;
    margin: 0 5px;
    width: 150px;
}
.seccion_expediente .ui-tabs-panels {
	height: 250px!important;
}
#contenedor_tab_planes .ui-tabs-panels {
	height: 310px!important;
}
.estilo_dialogoLaborales {
    background: #E6EEF9;
}
#modal_laborales {
    background: #E6EEF9;
	color: black;
}
#modal_laborales .estilo_label{
	color: black;
    padding: 5px 0;
	font-size: 13px;
    font-weight: bold;
	width: 275px;
	display: inline-block;
	padding: 12px;
}

.estilo_label {
	
	display: inline-block;
width: 40%;
margin: 10px 8px;
}
.selector_status_estilo {
	
	width:40%!important;
}
.estilo_span {
	display:inline-block;
width: 48%;
font-weight: bold;
}

#modal_laborales h3{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 7px;
}
#modal_laborales input{
	width: 220px;
	margin-bottom: 16px;
}
#modal_laborales .dialogoLaborales_secciones{
	background: #fff;
	margin: 11px 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 13px;
    width: 304px;
display: inline-block;
}
#modal_laborales .dialogoLaborales_secciones input{
	
}
#modal_laborales .selectores{
    position: relative;
    top: 8px;
    margin: 0 5px;
    width: 150px;
}
.bloque{
	
	display: block;
}
.ui-paginator-top {
	
	display: none;
}
#modal_laborales .dialogoLaborales_botones{
    display: inline-table;
    width: 45px;
    height: 70px;
    font-size: 12px;
    margin-right: 4px;
 	
}


.estilo_modalPortafolio {
	background: #E6EEF9;
	
}
.dialogoPortafolio_secciones p{
	margin-top:3px;
}

.dialogoPortafolio_secciones{
background: #fff;
margin: 11px 5px;
padding: 5px;
border-radius: 5px;
border: 1px solid #ddd;
font-size: 13px;
width: 490px;
height: 325px;
display: inline-block;
}