#contenedor {
    background: #e6eef9;
    display: inline-block;
    height: 100%;
}
h2 {
	margin: 18px!important;
	margin-bottom:10px!important;
	font-size: 17px!important;
	font-weight: bold!important;
}
.seccion_expediente {
	background: aliceblue;
	width: 46%;
	margin: 10px;
	display: inline-block;
	float: left;
	height: 350px;
	margin-left: 15px;
}
#seccion_datossolicitante label{
	display: inline-block;
	width: 40%;
	margin: 8px;
}
#seccion_datossolicitante{
	height: 340px;
}
#seccion_datossolicitante input{
	width: 44%;
}
.seccion_expediente .ui-tabs-panels {
	height: 250px!important;
}
#contenedor_tab_planes .ui-tabs-panels {
	height: 310px!important;
}
.estilo_dialogoLaborales {
    background: #E6EEF9;
}
#contenedor_dialogoLaborales {
    margin: 3px;
    border-radius: 6px;
    padding: 5px;
}
#contenedor_dialogoLaborales h3{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 7px;
}
#contenedor_dialogoLaborales .dialogoLaborales_secciones{
    width: 215px;  
    display: inline-table;
    height: 50px;
}
#contenedor_dialogoLaborales .selectores{
    position: relative;
    top: 8px;
    margin: 0 5px;
    width: 150px;
}
#dialogoLaborales_botones{
	display: inline-block;	
}