#contenedor {
    background: #e6eef9;
    display: inline-block;
    height: 100%;
}
h2 {
	margin: 18px!important;
	margin-bottom:10px!important;
	font-size: 17px!important;
	font-weight: bold!important;
}
.seccion_expediente {
	background: aliceblue;
	width: 46%;
	margin: 10px;
	display: inline-block;
	float: left;
	height: 350px;
	margin-left: 15px;
}
#seccion_datossolicitante label{
	display: inline-block;

	width: 40%;
	margin: 8px;
}
#seccion_datossolicitante{
	height: 340px;
}
#seccion_datossolicitante input{
	width: 44%;
}
.seccion_expediente .ui-tabs-panels {
	height: 250px!important;
}
#contenedor_tab_planes .ui-tabs-panels {
	height: 310px!important;
}