html {
	background: #e6eef9!important;
}

h2{
    padding: 15px!important;
    padding-bottom: 0px!important;
    color: #101140;
    font-weight: bold!important;
    font-size: 20px!important;
}
#contenedor {
    background: #e6eef9;
    display: block;
    height: 100%;  
}
#contenedor_secciones {	
    background: none;
    height: 500px;
    min-width: 1024px;
    position: relative;
    
}
.contenedor_calendario {
    margin: 22px 8px;
    width: 46%;
    display: inline-block;
}
.contenedor_calendario p{
    display: inline-block; 
    padding-bottom: 3px;
    width: 145px;
}
.contenedor_calendario input{
    width: 90px;
}
.proteccion_calendario{  
    width: 136px;
    display: inline-block;
}
.seccion_edicion{
    width: 45%;
    height: 280px;
    margin-top: 4px;
    display: inline-block;
    float: left;
    margin: 7px 15px;
}
.seccion_edicion p{
    display: inline-block;
}
.seccion_edicion h3{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    display: inline-block;
}
.seccion_edicion textarea{
    height: 100px;
    width: 98%;
}
.seccion_interna{
    background: #f0f7fe;
    border: 1px solid #abc7ed;
    height: 290px;
}
.formulario_inline{
    display: inline-block;
    font-size: 11px;
    position: relative;
    top: -2px;
    margin: 0px;
    padding: 0px;
}
.contenedor_botones {
	margin-top: 10px;
}
.contenedor_botones input, #dialogoactividades_botones input{
	padding: 7px;
	background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
	display: inline-block;
	margin: 3px;
	font-weight:bold;
	color:#4f4f4f;
	border-radius: 2px;
	text-decoration: none !important;
	cursor: pointer;
}
.selector_status_estilo {
	position: relative;
	top: 9px;
    width: 200px!important;
	}
.selector_nombrecentro_estilo {
	position: relative;
	top: 0px;
	left: 9px;
}
#tab_contenedor {
	display: inline-block;
	width: 100%;
	height: 171px;
	height: 1px;
	margin-top: -17px;
}
.estilo_dialogoactividades {
    background: #E6EEF9;
}
#contenedor_dialogoactividades {
    margin: 3px;
    border-radius: 6px;
    padding: 5px;
}
#contenedor_dialogoactividades textarea{
    height: 70px;
    width: 96%;
}
#contenedor_dialogoactividades textarea{
    height: 70px;
    width: 96%;
}
#contenedor_dialogoactividades h3{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 7px;
}
#contenedor_dialogoactividades .dialogoactividades_secciones{
    width: 215px;  
    display: inline-table;
    height: 50px;
}
#contenedor_dialogoactividades .dialogoactividades_secciones2{
    width: 310px;
    margin: 5px 0;
}
#contenedor_dialogoactividades .dialogoactividades_secciones2 p{
    display: inline-block;
    top: -8px;
    position: relative;
    margin-right: 5px;
}
#dialogoactividades_involucrados {
    height: 145px;
	margin-top: 8px;
    border: 1px solid #ccc;
    background: #FFF9ED;
}
#dialogoactividades_botones{
	display: inline-block;	
}
#tab_contenedor .ui-tabs{
	height: 440px;
}
.ui-paginator-top {
	display: none!important;
}
#info_competencia {
	
}
#info_competencia p{
	
	margin-top: 20px;
}
#info_competencia div{
	font-weight: bold;
	margin-bottom: 1px;
}
.seccion_edicion > input {
	width: 190px;
}
.seccion_edicion > label {
	margin-top: 25px;
	display: inline-block;
	width: 185px;
}
.seccion_edicion {
	margin: 20px;
}

#contenedor_dialogoactividades .estilo_label{
		margin-top: 25px;
	display: inline-block;
	width: 145px;
}
#contenedor_dialogoactividades .selector_status_estilo{
	width: 140px!important;
}
#contenedor_dialogoactividades input{
	width: 140px;
}
.estilo_panelInstrumento tbody tr td input {
	margin-top: 22px;
}