h2 {
    padding: 12px!important;
    padding-bottom: 0px!important;
    color: #101140;
    font-weight: bold!important;
    font-size: 18px!important;
}
#contenedor {
    background: #e6eef9;
    display: inline-block;
    height: 100%;  
}
.seccion_detalle {
    width: 39%;	
    display: inline-block;
    float: left;
    padding: 25px;
    background: #f0f7ff;
    border: 1px solid #becbdc;
    margin: 68px 25px;
    height: 290px;
}
.seccion_detalle .estilo_label{
    width: 54%;
    display: inline-block;
    margin-bottom: 19px;
}
.estilo_label{
    width: 54%;
    display: inline-block;
    margin-bottom: 19px;
}
.selector_centroEstilo {
	width:170px!important;
}
.selector_certificacionEstilo {
	width:170px!important;
}
