<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
	xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
		
	<http pattern="/resources/**" security="none" />
		 
	<http auto-config="false" use-expressions="true" entry-point-ref="loginEntryPoint">
		
		<custom-filter position="CONCURRENT_SESSION_FILTER" ref="concurrencyFilter" />
		<custom-filter position="FORM_LOGIN_FILTER" ref="inatecFormLoginFilter" />
		<session-management session-authentication-strategy-ref="sas"/>

		<intercept-url pattern="/modulos/usuario/index*" access="permitAll" />
		<intercept-url pattern="/modulos/usuario/**" access="isAuthenticated()" />		
		<intercept-url pattern="/modulos/compartido/**" access="isAuthenticated()" />
		<intercept-url pattern="/modulos/planificacion/**" access="isAuthenticated()" />		
		<intercept-url pattern="/modulos/solicitudes/**" access="isAuthenticated()"/>		
		<intercept-url pattern="/login*" access="permitAll" />
		<intercept-url pattern="/modulos/portafolio/**" access="isAuthenticated()" />
		<intercept-url pattern="/modulos/reportes/**" access="isAuthenticated()" />
		<access-denied-handler error-page="/modulos/usuario/403.xhtml"/>
				
		<openid-login
				login-page="/modulos/usuario/index.xhtml" 
				authentication-failure-url="/modulos/usuario/index.xhtml" 
				default-target-url="/modulos/usuario/visitante.xhtml"
				user-service-ref="openIdUserService">
			<attribute-exchange>
				<openid-attribute name="email" type="http://axschema.org/contact/email" required="true" count="1"/>
				<openid-attribute name="firstname" type="http://axschema.org/namePerson/first" required="true"/>
				<openid-attribute name="lastname" type="http://axschema.org/namePerson/last" required="true"/>
			</attribute-exchange>
		</openid-login>

		<logout invalidate-session="true" logout-success-url="/modulos/usuario/index.xhtml"/>

		<session-management invalid-session-url="/modulos/usuario/index.xhtml">
			<concurrency-control max-sessions="1" expired-url="/modulos/usuario/index.xhtml" error-if-maximum-exceeded="true" />
		</session-management>
		
	</http>
	
	<authentication-manager alias = "authenticationManager">
		<authentication-provider ref = "customUserAuthenticationProvider">
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean id="concurrencyFilter" class="org.springframework.security.web.session.ConcurrentSessionFilter">
		<beans:property name="sessionRegistry" ref="sessionRegistry" />
		<beans:property name="expiredUrl" value="/modulos/usuario/index.xhtml" />
	</beans:bean>
		
	<beans:bean id="inatecFormLoginFilter" class="security.CustomUsernamePasswordAuthenticationFilter" >
		<beans:property name="sessionAuthenticationStrategy" ref="sas" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="authenticationFailureHandler" ref="failureHandler" />
		<beans:property name="authenticationSuccessHandler" ref="successHandler" />
		<beans:property name="postOnly" value="true" />
	</beans:bean>

	<beans:bean id="successHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<beans:property name="defaultTargetUrl" value="/modulos/solicitudes/solicitudes.xhtml" />
	</beans:bean>
	
	<beans:bean id="failureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
 		<beans:property name="defaultFailureUrl" value="/modulos/usuario/index.xhtml" />
	</beans:bean>
	
	<beans:bean id="loginEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
 		<beans:property name="loginFormUrl" value="/modulos/usuario/index.xhtml" />
	</beans:bean>
	
	<beans:bean id="sas" class="org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy">
		<beans:constructor-arg name="sessionRegistry" ref="sessionRegistry" />
		<beans:property name="maximumSessions" value="1" />
		<beans:property name="alwaysCreateSession" value="true" />
		<beans:property name="exceptionIfMaximumExceeded" value="true" />
    </beans:bean>

	<beans:bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" />

</beans:beans>