<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
	xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
		
	<http pattern="/resources/**" security="none" />

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/modulos/usuario/index*" access="permitAll" />
		<intercept-url pattern="/modulos/usuario/**" access="isAuthenticated()" />		
		<intercept-url pattern="/modulos/compartido/**" access="isAuthenticated()" />
		<intercept-url pattern="/modulos/planificacion/**" access="isAuthenticated()" />		
		<intercept-url pattern="/modulos/solicitudes/**" access="isAuthenticated()"/>		
		<intercept-url pattern="/login*" access="permitAll" />
		<intercept-url pattern="/modulos/portafolio/**" access="isAuthenticated()" />
		<access-denied-handler error-page="/modulos/usuario/403.xhtml"/>
				
		<openid-login
				login-page="/modulos/usuario/index.xhtml" 
				authentication-failure-url="/modulos/usuario/index.xhtml?error=true" 
				default-target-url="/modulos/usuario/visitante.xhtml"
				user-service-ref="openIdUserService">
			<attribute-exchange>
				<openid-attribute name="email" type="http://axschema.org/contact/email" required="true" count="1"/>
				<openid-attribute name="firstname" type="http://axschema.org/namePerson/first" required="true"/>
				<openid-attribute name="lastname" type="http://axschema.org/namePerson/last" required="true"/>
				<!-- 
				<openid-attribute name="email" type="http://openid.net/schema/contact/internet/email" required="true" count="1"/>
				<openid-attribute name="firstname" type="http://openid.net/schema/namePerson/first" required="true"/>
				<openid-attribute name="lastname" type="http://openid.net/schema/namePerson/last" required="true"/>				
				<openid-attribute name="gender" type="http://openid.net/schema/gender" required="true"/>
				<openid-attribute name="year" type="http://openid.net/schema/birthDate/birthYear" required="true"/>
				<openid-attribute name="month" type="http://openid.net/schema/birthDate/birthMonth" required="true"/>
				<openid-attribute name="day" type="http://openid.net/schema/birthDate/birthday" required="true"/>
				 -->				
			</attribute-exchange>
		</openid-login>

		<logout invalidate-session="true" logout-success-url="/modulos/usuario/index.xhtml"/>

		<session-management invalid-session-url="/modulos/usuario/index.xhtml">
			<concurrency-control max-sessions="1" expired-url="/modulos/usuario/index.xhtml" error-if-maximum-exceeded="true" />
		</session-management>
	</http>
	
	<authentication-manager alias = "authenticationManager">
		<authentication-provider ref = "customUserAuthenticationProvider">
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>