<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!--
		archivos de configuracion de spring y spring security 
	 -->
        
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		    /WEB-INF/applicationContext.xml
		    /WEB-INF/applicationContext-security.xml
		</param-value>
	</context-param>

	<!-- Add Support for Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
		
	<!-- Add Support for Spring Security -->
  
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<!-- Listener de JSF -->
	
	<listener>
    	<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  	</listener>
	
	<!-- JSF -->
	
	<!-- Change to "Production" when you are ready to deploy -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<!-- This will prevent the model values get littered with empty strings when the enduser leaves input fields empty. It is linked to annotations in the model, like @NotNull(message = "Please enter username") -->
	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<context-param>
		<param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
		<param-value>6LcTweoSAAAAALmFRuVWYzTsVFlb8r23_Fd4ka_H</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
		<param-value>6LcTweoSAAAAABfZxFVm31iyzKtGlOBsUMg8S2yF</param-value>
	</context-param>	
 
	<!-- Welcome page -->
	<welcome-file-list>
		<welcome-file>login.jsf</welcome-file>
	</welcome-file-list>
 
	<!-- JSF Mapping -->
	<servlet>
		<servlet-name>facesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>facesServlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>facesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>		
	
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	
	<!-- Spring Security Taglib --> 
	<context-param>
    	<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
    	<param-value>/WEB-INF/springsecurity.taglib.xml</param-value>
	</context-param>
	
	<!-- Spring Security Filters -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
  
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
		 	
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
  		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
  		<init-param>
        	<param-name>thresholdSize</param-name>
        	<param-value>5242880</param-value>
  		</init-param>  		
	</filter>
	<filter-mapping>
  		<filter-name>PrimeFaces FileUpload Filter</filter-name>
  		<servlet-name>facesServlet</servlet-name>
	</filter-mapping>
		
</web-app>